.big-button {
	background-color: #45c45e;
	color: white;
	border: none;
	border-bottom: .3rem solid darken(#45c45e, 10%);
	border-left: 0.2rem solid darken(#45c45e, 10%);
	font-weight: bold;
	font-size: $l-size;
	width: 100%;
	margin-bottom: $xl-size;
	padding: 2.4rem;
}

.big-button:disabled {
	opacity: .5;
}

.button {
	background-color: #45c45e;
	color: white;
	border: none;
	border-bottom: .3rem solid darken(#45c45e, 10%);
	border-left: 0.2rem solid darken(#45c45e, 10%);
	font-size: $m-size;
}

.button--link {
	background: none;
	border: none;
}

.button--link:hover {
	color: #edcece;
}
