.ReactModalPortal > div {
	opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
	transition: opacity 200ms ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
	opacity: 0;
}

.modal {
	background: black;
	color: white;
	max-width: 30rem;
	max-height: 30rem;
	outline: none;
	padding: 3rem;
	display: flex;
	flex-flow: column;
	text-align: center;
	position: relative;
	word-break: break-all;
}
